coloredlogs==10.0
Flask==1.1.1
flask-talisman==0.7.0
Flask-WTF==0.14.2
flask-cors==3.0.8
gunicorn==19.9.0
Jinja2==2.10.3
jwcrypto==0.6.0
mistune==0.8.4
pipdeptree==0.13.2
Pygments==2.5.2
PyJWT==1.7.1
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.3
requests==2.22.0
setuptools==41.2.0
simple-rest-client==1.0.2
tinydb==3.15.2
werkzeug==0.16.1
