{% extends 'base.html' %}

{% block content %}
<h2>Developer</h2>

<a href="{{ url_for('developer.create_client') }}"><button class="btn btn-success" type="submit">Add OAuth 2.0 client</button></a>
<br /><br />

<span id="alert"></span>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Client ID</th>
      <th scope="col">Client Secret</th>
      <th scope="col">OAuth 2.0 Grant Type</th>
      <th scope="col" colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{ client.client_name }}</td>
      <td>{{ client.client_id }}</th>
      <td>{{ client.client_secret }}</th>
      <td>{{ client.grant_types.0 }}</th>
      <td>
        <a href="{{ url_for('developer.delete_client', id=client.id, client_id=client.client_id) }}" class="btn btn-danger" role="button" aria-pressed="true"><i class="fa fa-remove"></i></a>
      </td>
      <td>
        <button class="btn btn-dark" role="button" aria-pressed="true" onClick="redirect('{{ client.client_id }}', '{{ client.client_secret }}', '{{ client.client_name }}');"><i class="fa fa-desktop"></i></button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form id="redirForm" method="POST" action="{{ url_for('developer.test_client') }}">
  <input type="hidden" name="client_id" value="" />
  <input type="hidden" name="client_secret" value="" />
  <input type="hidden" name="client_name" value="" />
</form>
{% endblock %}
{% block add_js %}
<script>
  function redirect(clientId, clientSecret, clientName) {
    var form = document.getElementById("redirForm");
    form.elements[0].value = clientId;
    form.elements[1].value = clientSecret;
    form.elements[2].value = clientName;
    form.submit();
  }
</script>

{% endblock %}
