<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> -->

    <title>{{ config.SITE_TITLE }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    {% block add_css %}{% endblock %}

    <!-- Custom styles for this template -->
    <link href="/static/css/starter-template.css" rel="stylesheet">
    <link href="/static/css/themes/{{ config.THEME_LABEL }}.css" rel="stylesheet">
  </head>

<body class="{{ body_class }}">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
      <a class="navbar-brand" href="/"><img src="/static/img/themes/{{ config.THEME_LABEL }}/icon.png" class="img-fluid" style="max-height:25px" />&nbsp;{{ config.SITE_TITLE }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          {% if session.username %}
          <li class="nav-item"><!-- class="active" -->
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ config.ITEMS_TITLE }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="{{ config.ITEMS_PATH }}">{{ config.ITEMS_TITLE }} (MVC)</a>
              <a class="dropdown-item" href="{{ config.ITEMS_PATH }}-spa">{{ config.ITEMS_TITLE }} (REST)</a>
            </div>
          </li>
          {% if session.is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/">Admin</a>
          </li>
          {% endif %}
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Log In</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{ url_for('okta.login')}}">Log In (Okta-hosted)</a>
              <h6 class="dropdown-header">OKTA SIGN IN WIDGET</h6>
              <a class="dropdown-item" href="/login-widget">Log In (Authz Code)</a>
              <a class="dropdown-item" href="/login-implicit">Log In (Implicit)</a>
              <a class="dropdown-item" href="/login-social">Log In (Social/IdP)</a>
              <a class="dropdown-item disabled" href="#">Log In (IdP Disco)</a>
              <a class="dropdown-item" href="/login-custom-css">Log In (Custom CSS)</a>
              <h6 class="dropdown-header">CUSTOM</h6>
              <a class="dropdown-item disabled" href="/login">Log In (Custom)</a>
            </div>
          </li>

          {% endif %}
        </ul>
<!--         <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
 -->
          {% if session.username %}
          <ul style="float:right" class="navbar-nav mr-auto" >
              <li class="nav-item" style="color:#fff">
                <a class="nav-link" href="/profile"><i class="fa fa-user"></i> {{ session.name }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tools">Tools</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
              </li>
              <li class="nav-item" style="margin-left:20px;">
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#helpModal" style="margin-top:5px">
                  <i class="fa fa-question-circle"></i> Help
                </button>
              </li>

          </ul>
          {% endif %}

</div>
    </nav>

    <main role="main" class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
<div class="alert alert-{{ "primary" if category == "message" else category }}" role="alert">
  {{ message }}
</div>
            {% endfor %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    {% block add_js %}{% endblock %}
  </body>
</html>
