{% extends 'base.html' %}
{% block add_css %}
<link href="https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.min.css" rel="stylesheet" />
<link href="/static/css/calendar.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="row">
<div class="col-sm-12">
<div id="calendar"></div>
<span id="calData" style="display:none">
{{ items|tojson }}
</span>
</div>
</div>

<div class="row">
<div class="col-sm-12" style="margin-bottom:15px">
<a class="btn btn-warning" href="https://chicago-benedictines.groups.io/g/readers/ics/3051471/1840573950/feed.ics" target="_NEW">
  <i class="fa fa-calendar"></i> Subscribe to calendar
</a>
</div>
</div>


{% endblock %}

{% block add_js %}
<script src="https://unpkg.com/moment@2.24.0/min/moment.min.js"></script>
<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/fullcalendar@3.10.1/dist/fullcalendar.min.js"></script>
<script src="/static/js/calendar.js"></script>
{% endblock %}
