{% extends 'base.html' %}

{% block add_css %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
{% endblock %}

{% block content %}
<h1>Directory</h1>

<div class="responsive">

<table
  data-toggle="table"
  data-pagination="true"
  data-search="true"
  data-classes="table table-bordered table-hover table-striped table-dark"
  >
  <thead>
    <tr>
      <th data-sortable="true">Full name</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
{% for i in items %}
    <tr>
      <td>{{ i.full_name }}</td>
      <td>{{ i.email }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

</div>
{% endblock %}

{% block add_js %}
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
{% endblock %}
