{% extends 'base.html' %}

{% block add_css %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
{% endblock %}

{% block content %}
<h1>Resources</h1>

<div class="responsive">

<table
  data-toggle="table"
  data-pagination="true"
  data-search="true"
  data-classes="table table-bordered table-hover table-striped table-dark"
  >
  <thead>
    <tr>
      <th data-sortable="true">File name</th>
      <th data-sortable="true">Date</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for i in items %}
{% if i.media_type == 'folder' %}
    <tr>
      <td><i class="fa fa-folder"></i>&nbsp;{{ i.name }}</td>
      <td>{{ i.created|parse_date }}</td>
      <td>{{ i.desc }}</td>
      <td><a href="/files/{{ i.name }}" class="btn btn-primary">Open</a></td>
    </tr>
{% else %}
    <tr>
      <td><i class="fa fa-file"></i>&nbsp;{{ i.name }}</td>
      <td>{{ i.created|parse_date }}</td>
      <td>{{ i.desc }}</td>
      <td><a href="{{ i.download_url }}" class="btn btn-primary">Download</a></td>
    </tr>
{% endif %}
{% endfor %}
  </tbody>
</table>

</div>

{% endblock %}

{% block add_js %}
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
{% endblock %}
