{% extends 'base.html' %}
{% block content %}
<div class="card-deck" id="card-container">
</div>

{% endblock %}

{% block add_js %}
<script src="/static/js/util.js"></script>
<script>
// TODO: move to a JS file?
function get_card_html(item, theme_mode, theme) {
  var template = `
    <div class="card" style="max-width:300px">
      ${item.target === 'PREMIUM' ? '<div class="ribbon-wrapper"><div class="ribbon green">PREMIUM</div></div>' : ''}
      <img class="card-img-top img-fluid" src="/static/img/${theme_mode}/${theme}/items/${item.image}" alt="${item.title}" style="max-width:150px;height:auto">
      <div class="card-body">
        <h5 class="card-title">${item.title}</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><span id="itemCt-${item.itemId}">${item.count}</span> available</small>
        <button id="btn-${item.itemId}" type="button" class="btn btn-primary btn-sm" style="float:right;" onclick="itemAction(${item.itemId}, '{{ config.API_URL }}', '{{ session.user_id }}');">{{ config.ITEMS_ACTION_TITLE }}</button>
      </div>
    </div>
  `;
  return template;
}

function render(data) {
  var content = '';
  data.data.forEach(item => {
    content = content + get_card_html(item, '{{ config.THEME_MODE }}', '{{ config.THEME_LABEL }}');
  });
  var container = document.getElementById('card-container');
  container.innerHTML = content;
}

var accessToken = document.cookie.replace(/(?:(?:^|.*;\s*)access_token\s*\=\s*([^;]*).*$)|^.*$/, "$1");
var result = ajax('http://localhost:5000/api/items', 'GET', null, render, accessToken);

</script>
{% endblock %}
