{% extends 'base.html' %}

{% block content %}
<h1>Recent Messages</h1>

<div class="alert alert-primary" role="alert">
  {% if session.username != config.SHARED_ACCOUNT %}
  <p><strong>NOTE:</strong> If you're seeing this page you're subscribed to the {{ config.SITE_NAME }} group and <strong>you can view and reply to these messages via email</strong>. Send an email to <strong><code>{{ config.GROUP_EMAIL }}</code></strong> to start a new thread.</p>
  <p class="small">If you really want to, you can also view and reply to these messages on the {{ config.SITE_NAME }} group page <a href="{{ config.GROUP_URL }}/topics">here.</a></p>
  {% else %}
  <p><strong>NOTE:</strong> You are logged in using a shared account. If you wish to send and receive messages to and from the group, please subscribe to the group by sending an email to <strong><code>{{ config.GROUP_EMAIL_SUBSCRIBE }}</code></strong>
  {% endif %}
</div>

<div class="row">

{% for i in items %}
  <div class="col-sm-12" style="margin-bottom:15px">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ i.subject }}</h5>
        <p>{{ i.created|parse_date }} - {{ i.name }}</p>
        <p class="card-text">{{ i.summary|parse_markdown|safe }}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>
{% endfor %}

</div>
{% endblock %}
