{% extends 'base.html' %}
{% block content %}
<span id="alert"></span>
<div class="card-deck" id="card-container">
</div>

{% endblock %}

{% block add_js %}
<script src="{{ config.STATIC_URL }}/js/util.js"></script>
<script>
// TODO: move to a JS file?
function get_card_html(item, theme_uri) {
  var template = `
    <div class="card" style="max-width:300px">
      ${item.target === 'PREMIUM' ? '<div class="ribbon-wrapper"><div class="ribbon green">PREMIUM</div></div>' : ''}
      <img class="card-img-top img-fluid" src="${item.image}" alt="${item.name}" style="max-width:150px;height:auto">
      <div class="card-body">
        <h5 class="card-title">${item.name}</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><span id="itemCt-${item.itemId}">${item.count}</span> available</small>
        <button id="btn-${item.itemId}" type="button" class="btn btn-primary btn-sm" style="float:right;" onclick="itemAction('${item.itemId}', '{{ config.API_URL }}', '{{ session.user_id }}');">{{ config.ITEMS_ACTION_TITLE }}</button>
      </div>
    </div>
  `;
  return template;
}

function render(data) {
  if (data.error) {
    showAlert('danger', 'An error occurred: ' + data.error.description);
  }
  var content = '';
  data.data.forEach(item => {
    content = content + get_card_html(item, '{{ config.THEME_URI }}');
  });
  var container = document.getElementById('card-container');
  container.innerHTML = content;
}

var accessToken = document.cookie.replace(/(?:(?:^|.*;\s*)access_token\s*\=\s*([^;]*).*$)|^.*$/, "$1");
var result = ajax('{{ config.API_URL }}/products', 'GET', null, render, accessToken);

</script>
{% endblock %}
