{% extends 'base.html' %}

{% block content %}

<span id="alert"></span>

<div class="card-deck">
  {% for item in items %}
  <div class="card" style="max-width:300px">
    {% if item.target == 'PREMIUM' %}
    <div class="ribbon-wrapper">
        <div class="ribbon green">PREMIUM</div>
    </div>
    {% endif %}
    <img class="card-img-top img-fluid" src="/static/img/{{ config.THEME_MODE }}/{{ config.THEME_LABEL }}/items/{{ item.image }}" alt="{{ item.title }}" style="max-width:150px;height:auto">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><span id="itemCt-{{ item.itemId }}">{{ item.count }}</span> available</small>
      <button id="btn-{{ item.itemId }}" type="button" class="btn btn-primary btn-sm" style="float:right;" onclick="itemAction({{ item.itemId }}, '{{ config.API_URL }}', '{{ session.user_id }}');">{{ config.ITEMS_ACTION_TITLE }}</button>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
{% block add_js %}
<script src="/static/js/util.js"></script>
{% endblock %}
