{% extends 'base.html' %}

{% block content %}
<h1>Join</h1>

<div class="alert alert-primary" role="alert">

<p><strong>Note:</strong> Joining the group requires you to interact briefly with the Groups.io system before you can interact with this website. The following steps guide you through the process.</p>

<ol>
<li>When you click the button at the bottom of this page you will be taken to a page where you will be prompted to either "<code>Apply For Membership In This Group</code>" or "<code>Log In If You Are Already A Member</code>" of another group on Groups.io. <strong>Use the "Apply for Membership" button</strong> if you're new to Groups.io.  The buttons look like this:</li>
<img src="/static/img/join_buttons.png" class="img-fluid" width="450"></img>
<li>Once you complete the "Apply" action, you will receive an email asking you to confirm your request either replying to the email or clicking the "Confirm account" link. <strong>Click on the "Confirm account" link.</strong></li>
<li><strong>Set a password</strong> (if you haven't done so already). You can do this either on the page you land on after clicking the confirm link in your email, or by clicking on your Groups.io username in the upper right and clicking "Account". This password will be used for both the {{ config.SITE_NAME }} website and Groups.io.</li>
<li>You may ignore any recommended "next steps" on the close the Groups.io tab. <strong>Your account will need to be approved by an administrator before you can post messages to the list and use the site.</strong>  Once you're approved you can both <a href="/login">login to this website</a> and post/receive messages on the list by emailing <strong><code>{{ config.GROUP_EMAIL }}</code></strong></li>
</ol>
</div>

<div class="alert alert-warning" role="alert">
  <p><i class="fa fa-exclamation-triangle"></i> <strong>Note:</strong> at some point in the process you may get redirected to the "main" or "parent" group of the {{ config.SITE_NAME }} group. If this happens, use <a href="{{ config.GROUP_URL }}" target="_NEW">this link</a> to get back to the {{ config.SITE_NAME }} group to join.</p>
</div>

<a href="{{ config.GROUP_URL }}" target="_NEW"><button class="btn btn-primary" type="submit">Sign up</button></a>

{% endblock %}
